<html>
<head>
  <title><%= title %></title>
  <% puts request.inspect %>
  <script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
  <style type="text/css" media="screen">
    #editor { 
        position: absolute;
        width: 500px;
        height: 400px;
    }
</style>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
  </ul>
  <%= yield %>
</body>
</html>
