<html>
    <head>
        <title><%= title %></title>
        <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
        <script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/showdown.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/jquery-1.9.0.js" type="text/javascript" charset="utf-8"></script>
        <script src="/javascripts/md_editor.js" type="text/javascript" charset="utf-8"></script>
        <style type="text/css" media="screen">
            #editor { 
                position: absolute;
                width: 500px;
                height: 400px;
            }
        </style>
    </head>
    <body>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <%= yield %>
    </body>
</html>
